*{
    padding: 0;
    margin: 0;
}

.principal{
    padding:0px 10px 0px 10px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-color: cadetblue;
    width: 100%;
    position: fixed;
    z-index: 100;      
}

#menu{
    display: flex;
    align-items: center;
    width: 40%;
}

#menu>div>a{
    color: #ffffff;
    font-size: 1rem;
    text-decoration: none;
    opacity: 1;
    padding-left: 40px;
}

#menu>div>a:hover{
    opacity: 0.7;
}

#eslogan{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2rem;
    font-family: fantasy;
    margin-right: 500px;
}

#cuerpo{
    padding-top: 100px;
    background-image: url("https://st.depositphotos.com/1298561/4733/v/600/depositphotos_47335629-stock-illustration-doodle-pet-background.jpg");
    min-height: 140vh;
}

#fondo_carrito_2{
    margin: 10px;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
}

.titulo{        
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

#carrito_left{
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.082);
    width: 60%;
}

#carrito_right{
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.082);
    width: 33%;
}

#lista_venta{    
    display: flex;
    flex-direction: column;       
}

.descripcion{
    display: flex;
    justify-content: space-evenly;
}

.button{
    display: flex;
    justify-content: center;
    padding: 40px 0px 0px 0px;    
    
}

.info{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.resumen_compra{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 25px;
}

.total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
    font-weight: bold;
}

#fondo_carrito{
    background-color: rgba(240, 248, 255, 0.966);
    margin: 10px;
    padding: 10px 10px 100px 10px;
    display: flex;
    flex-direction: column;
}

h5{
    padding-bottom: 30px;
}

#disponible{
    color: green;
    margin: 0px 0px 0px 0px;
}

.desc{
    font-size: small;
    margin: 0px ;
}
