*{
    padding: 0;
    margin: 0;
}
.principal{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-color: cadetblue;
    width: 100%;
    position: fixed;
    z-index: 100;
}
#menu{
    display: flex;
    align-items: center;
    opacity: 90%;
    border-radius: 5px;
    width: 30%;
    justify-content: space-around;
}
#menu>div>a{
    color: #ffffff;
    font-size: 1rem;
    text-decoration: none;
    opacity: 1;
}
#menu>div>a:hover{
    opacity: 0.7;
}
.cuerpo{
    background-image: url("https://st.depositphotos.com/1298561/4733/v/600/depositphotos_47335629-stock-illustration-doodle-pet-background.jpg");
    min-height: 100vh;
    padding-top: 50px;
    display: flex;
    align-items: center;
    opacity: 90%;
}
#imagencuerpo{
    display: flex;
    padding-left: 100px;
    margin-top: 0px;
}
#contenidocuerpo{
    display: flex;
    flex-direction: column;
    padding: 40px 40px 40px 40px;
    background-color: rgba(49, 69, 70, 0.795);
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    border-radius: 10px;
    margin-left: 40px;
}
#botoncomprar{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: coral;
    opacity: 95%;
    border-radius: 10px;
    width: 320px;
}
#botoncomprar>a{
    text-decoration: none;
    color: #ffffff;
}
#eslogan{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2rem;
    font-family: fantasy;
}

@media(max-width: 1100px ){
    .principal{
        flex-direction: column;
        align-items: center;
        position: sticky;
    }
    #menu{
        flex-direction: column;
    }
    #destacados{
        display: none;
    }
    .cuerpo{
        display: flex;
        align-items: center;
        flex-direction: column;
        opacity: 90%;
        padding-top: 20px;
    }
    #imagencuerpo{
        display: flex;
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 0px;
        margin-bottom: 20px;
        width: 70%;
    }

}